* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
header{
    font-family: sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f4fd;

}

.box{
    height: 50px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #2c3e50;
    border-radius: 30px;
    align-items: center;
    box-shadow: rgba(0,0,0,.3);
    margin-top: 30px;
}
.box:hover input{
    width: 400px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: .8s;
    background: transparent;
    color:white;
}

.box a .fas{
    color: white;
    font-size: 18px;
}



  main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1f4fd;
  }
  
  .container {
    max-width: 955px;
    width: 100%;
  }
  
  .slider-wrapper {
    position: relative;
  }
  
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  
  .slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }
  
  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  
  .slider-wrapper .image-list .image-item {
    width: 300px;
    height: 400px;
    object-fit: cover;
    color: #000;
  }
  
  .container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .slider-scrollbar .scrollbar-track {
    background: #ccc;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .slider-scrollbar:hover .scrollbar-track {
    height: 4px;
  }
  
  .slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #000;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
  }
  
  .slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
  }
  
  .slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
  }


.card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-10px);
  }
  
  .card-content {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-content {
    transform: translateY(0);
  }
  
  .card-content h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
  }
  


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');


.footer {
  position: absolute;
  top: 145%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 1500px; */
  width: 100%;
  background: #2c3e50;
  border-radius: 6px;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}



@media only screen and (max-width: 600px) and (min-width: 350px)  {

  .slider-wrapper .image-list {
    grid-template-columns: repeat(0, 1fr);
  }

  .footer {
    top: 138%;
  }

  .footer-row {
    flex-direction: row;
    gap: 1.5rem;
  }

  .box {
    position: absolute;
    top: 45px;
    z-index: 3; 
  }

  
  .box:hover input {
    width: 300px; 
  }
}

@media only screen and (min-width: 601px) and (max-width: 992px) {

  .slider-wrapper .image-list {
    grid-template-columns: repeat(0, 1fr);
    width: 950px;
  }


  .footer {
    top: 122%; 
  }
}

@media only screen and (min-width: 993px) {
  .slider-wrapper .image-list {
    grid-template-columns: repeat(0, 1fr);
  }


  .footer {
    top: 170%; 
  }
}

.nav {
  height: 50px;
  width: 100%;
  background-color:#2c3e50;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    z-index: 5;
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

@media only screen and (min-width: 200px) and (max-width: 390px) {

  .footer {
    top: 172%; 
  }


}
@media only screen and (max-width: 1080px) {
  .footer {
    top: 150%; 
  }
}

@media only screen and (max-width: 1280px) {
  .footer {
    top: 185%; 
  }
}

body{
  background-color: #f1f4fd;
}